{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Services{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>خدمات</h2>
        <ol>
          <li><a href="{% url 'root:home' %}">خانه</a></li>
          <li>خدمات</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          {% for sr in service %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>{{sr.title}}</h3>
              <p>{{sr.content|truncatechars:20}}</p>
              <a href={% url 'services:service_detail' id=sr.id %} class="readmore stretched-link">ادامه... <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
 

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Servie Cards Section ======= -->
    <section id="services-cards" class="services-cards">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          {% for site in site %}
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>{{site.title}}</h3>
            <p>{{site.content}}</p>
            
          </div><!-- End feature item--> 
          {% endfor %}

        </div>

      </div>
    </section><!-- End Servie Cards Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url({% static  'assets/img/alt-services.jpg' %});" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>درباره ما </h3>
            <p>هر چقدر که وفاداری در یک گروه بیشتر باشد ، انگیزه در بین اعضای گروه برای رسیدن به هدف نهایی بالاتر می رود و احتمال رسیدن به هدف نیز بالا تر خواهد بود.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">اعضای تیم</a></h4>
                <p>اعضای تیم ما تشکیل شده از 6 مهندس جوان و با تجربه و ایدهای نو</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">مدیر اعضای تیم</a></h4>
                <p>مریم کلانتری مدیر تیم ساخت ساز</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">سخن اعضای تیم</a></h4>
                <p>چیزی به نام یک انسان خود ساخته وجود ندارد، شما تنها با کمک دیگران به اهداف خود خواهید رسید.

                </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">سال تشکیل اعضای تیم</a></h4>
                <p>1402/7/5</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->
   

    

  </main><!-- End #main -->
{% endblock 'content' %}
