{% extends 'base.html' %}
{% load static %}
{% block 'title' %}service-detail{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>{{service.title}}</h2>
        <ol>
          <li><a href="{% url 'root:home' %}">خانه</a></li>
          <li>{{service.title}}</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
     <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          

          <div class="col-lg-8">
            <img src={{service.image.url}} alt="" class="img-fluid services-img">
            <h3>{{service.title}}</h3>
            <p>
              {{service.content}}
            </p>
          
          </div>

        </div>

      </div>
    </section><!-- End Service Details Section -->

  </main><!-- End #main -->
{% endblock 'content' %}
