{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Blog{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>وبلاگ</h2>
        <ol>
          <li><a href={% url 'root:home' %}>خانه</a></li>
          <li>وبلاگ</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">
          {% for bl in blog %}
          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100">
              
              <div class="post-img position-relative overflow-hidden">
                <img src={{bl.image.url}} class="img-fluid" alt="">
                <span class="post-date">{{bl.schedule|date:'M y D'}}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{bl.title}}</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{bl.writer}}</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    {% for ct in bl.category.all %}
                    <i class="bi bi-folder2"></i> <span class="ps-2">{{ct.name}}</span>
                  </div>
                  {% endfor %}
                </div>

                <p>
                 {{bl.content}}
                </p>

                <hr>

                <a href="{% url 'blog:blog_detail' id=bl.id %}" class="readmore stretched-link"><span>ادامه...</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </div>
          </div><!-- End post list item -->
          {% endfor %}
        </div><!-- End blog posts list -->

        {% comment %} <div class="blog-pagination">
          {% if courses.has_next and courses.has_previous %}
          <ul class="justify-content-center">
            <li><a href="?page={{blog.next_page_number}}">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="?page={{courses.previous_page_number}}">3</a></li>
          </ul>
          {% endif %} 
        </div><!-- End blog pagination --> {% endcomment %}

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock 'content' %}