{% extends 'base.html' %}
{% load static %}
{% block 'title' %}blog-detail{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>{{blog.title}}</h2>
        <ol>
          <li><a href="{% url 'root:home' %}">خانه</a></li>
          <li>{{blog.title}}</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">
              
              <div class="post-img">
                <img src={{blog.image.url}} alt="" class="img-fluid">
              </div>

              <h2 class="title">{{blog.title}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{blog.writer}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">{{blog.schedule}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                  {{blog.content}}
                </p>

                <h3>{{blog.title2}}</h3>
                <p>
                  {{blog.content2}}
                </p>
                <img src={{blog.image2.url}} class="img-fluid" alt="">

                <h3>{{blog.title3}}</h3>
                <p>
                  {{blog.content3}}
                </p>
                

              </div><!-- End post content -->

            </article><!-- End blog post -->
            
 
           
            <div class="comments">

              <h4 class="comments-count">{{comments.count}} Comments</h4>
              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'assets/img/blog/comments-1.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="">{{comment.name}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">{{comment.created_date|date:"d M Y"}}</time>
                    <p>
                      {{comment.message}}
                    </p>
                  </div>
                </div>
              </div><!-- End comment #1 -->
              {% endfor %}

             <br><br><br>
              <div class="reply-form">
                <h4>Comment</h4>
        
                {% if messages %}
                {% for message in messages %}
                <p style='color:green;  font-size:25px; margin-left:400px;'>{{message}}</p>
                {% endfor %}
              {% endif %}


               <form method='post'>
                {% csrf_token %}
                <div class="form-group form-inline">
                  <div class="form-group col-lg-6 col-md-12 name" style="width: 100%; ">
                    <input type='hidden' name='which_blog' value={{blog.id}}>
                    <input type="text" class="form-control" name="name" placeholder="Name"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                  </div>
                  <div class="form-group col-lg-6 col-md-12 email" style="width: 100%; ">
                    <input type="email" class="form-control" name="email" placeholder="email"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Subject"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                </div>
                <div class="form-group">
                  <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                </div>
                <button type='submit' class="primary-btn text-uppercase" style="background-color:#e7e711; border-radius:30px;height: 35px;color:#fcfcfc;width: 100%;font-size:20px;">Post Comment</button>
              </form> 

            </div><!-- End blog comments -->

          </div>

          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action={% url 'blog:serch_search'%} class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

            
              
            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  {% endblock 'content' %} 