<form method='post' style="margin:100px;">
    {% csrf_token %}
    <div class="form-group form-inline">
      <div class="form-group col-lg-6 col-md-12 name">
        <input type='hidden' name='which_comment' value={{comment.id}}>
        <input type="text" class="form-control" name="name" placeholder="Enter Name"
          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
      </div>
    </div>
    <div class="form-group" style="width:50px; ">
      <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
    </div>
    <button type='submit' class="primary-btn text-uppercase"style="background-color:#e7e711; border-radius:30px;height: 35px;color:#fcfcfc;width: 15%;font-size:20px;">Reply Comment</button>
    {% if messages %}
        {% for message in messages %}
             <p>{{message}}</p>
        {% endfor %}
    {% endif %}
  </form>

